<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yl.transaction.xq.dao.XqDao">
	<!-- 获取全部小区 -->
	<select id="getAllXqInfo" resultType="java.util.Map">
		select maxaccept,xq_name,to_char(create_time,'yyyy-mm-dd') from t_xq_info order by create_time asc
	</select>
</mapper>  
