<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yl.transaction.kfManager.dao.KFManagerDao">
	
	<!-- 获取订单数量 -->
	<select id="getOrderCount" resultType="java.util.Map">
		select to_char(creat_time,'yyyy-mm-dd') month, count(*) num from t_order where order_status in ('20', '21', '22', '23', '24', '25', '26')  
		<if test="managerId != null and managerId != ''">
			and opr_dept_id = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId}
		</if>
		<if test="orderChannel != null and orderChannel != ''">
			and order_channel = #{orderChannel}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and creat_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and creat_time <= #{overTime}]]> 
		</if>
		group by to_char(creat_time,'yyyy-mm-dd') order by to_char(creat_time,'yyyy-mm-dd') asc
	</select>
	
	<!-- 获取总通话时间 -->
	<select id="getPhoneTime" resultType="java.util.Map">
		select to_char(create_time,'yyyy-mm-dd') month, round(sum(talk_length)/count(1),2) time from t_conversation where 1=1
		<if test="managerId != null and managerId != ''">
			and dept_code = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and create_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and create_time <= #{overTime}]]> 
		</if>
		group by to_char(create_time,'yyyy-mm-dd') order by to_char(create_time,'yyyy-mm-dd') asc
	</select>
	
	
	<!-- 通话满意度——满意 -->
	<!-- <select id="getPhoneGood" resultType="String">
		select count(conver_degree) degree from t_conversation where conver_degree = '50'
		<if test="managerId != null and managerId != ''">
			and dept_code = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and create_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and create_time <= #{overTime}]]> 
		</if>
	</select> -->
	<!-- 通话满意度——合格 -->
	<!-- <select id="getPhoneOk" resultType="String">
		select count(conver_degree) degree from t_conversation where conver_degree = '51'
		<if test="managerId != null and managerId != ''">
			and dept_code = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and create_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and create_time <= #{overTime}]]> 
		</if>
	</select> -->
	<!-- 通话满意度——不满意 -->
	<!-- <select id="getPhoneNo" resultType="String">
		select count(conver_degree) degree from t_conversation where conver_degree = '52'
		<if test="managerId != null and managerId != ''">
			and dept_code = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and create_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and create_time <= #{overTime}]]> 
		</if>
	</select> -->
	
	<!-- 工单类型——咨询类 -->
	<select id="getOrderZX" resultType="String">
		select count(order_type) orderType from t_order where order_type = '1' 
		<if test="managerId != null and managerId != ''">
			and opr_dept_id = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId}
		</if>
		<if test="orderChannel != null and orderChannel != ''">
			and order_channel = #{orderChannel}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and creat_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and creat_time <= #{overTime}]]> 
		</if>
	</select>
	
	<!-- 工单类型——维护类 -->
	<select id="getOrderWH" resultType="String">
		select count(order_type) orderType from t_order where order_type = '2' 
		<if test="managerId != null and managerId != ''">
			and opr_dept_id = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="orderChannel != null and orderChannel != ''">
			and order_channel = #{orderChannel}
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and creat_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and creat_time <= #{overTime}]]> 
		</if>
	</select>
	
	<!-- 工单类型——建议类 -->
	<select id="getOrderJY" resultType="String">
		select count(order_type) orderType from t_order where order_type = '4' 
		<if test="managerId != null and managerId != ''">
			and opr_dept_id = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="orderChannel != null and orderChannel != ''">
			and order_channel = #{orderChannel}
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and creat_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and creat_time <= #{overTime}]]> 
		</if>
	</select>
	
	<!-- 工单类型——投诉类 -->
	<select id="getOrderTS" resultType="String">
		select count(order_type) orderType from t_order where order_type = '3' 
		<if test="managerId != null and managerId != ''">
			and opr_dept_id = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="orderChannel != null and orderChannel != ''">
			and order_channel = #{orderChannel}
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and creat_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and creat_time <= #{overTime}]]> 
		</if>
	</select>
	
	
	<!-- 通话状态——正常接听 -->
	<select id="getConverAccess" resultType="String">
		select count(talk_flag) status from t_conversation where talk_flag = '1'
		<if test="managerId != null and managerId != ''">
			and dept_code = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and create_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and create_time <= #{overTime}]]> 
		</if>
	</select>
	<!-- 通话状态——未接听 -->
	<select id="getConverUnAccess" resultType="String">
		select count(talk_flag) status from t_conversation where talk_flag = '0'
		<if test="managerId != null and managerId != ''">
			and dept_code = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and create_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and create_time <= #{overTime}]]> 
		</if>
	</select>
	
	<select id="getNameList" resultType="java.util.Map">
		select distinct c.maxaccept, c.username  
		from(select a.maxaccept, a.user_name username, a.user_role userrole, a.dept_code deptcode
		from t_user a left join t_dept b 
		on a.dept_code = b.maxaccept 
		where b.dept_type = '61')c left join t_role r
		on c.userrole = r.maxaccept
		where r.role_level = '2'
		<if test="managerId != null and managerId != ''">
			and c.deptcode = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
	</select>
	
	
	<!-- 未派单数量 -->
	<select id="getWaitSend" resultType="java.util.Map">
		select to_char(creat_time,'yyyy-mm-dd') month, count(*) num from t_order where order_status = '20' 
		<if test="managerId != null and managerId != ''">
			and opr_dept_id = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId} 
		</if>
		<if test="orderChannel != null and orderChannel != ''">
			and order_channel = #{orderChannel}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and creat_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and creat_time <= #{overTime}]]> 
		</if>
		group by to_char(creat_time,'yyyy-mm-dd') order by to_char(creat_time,'yyyy-mm-dd') asc
	</select>
	
	<!-- 取消派单数量 -->
	<select id="getCancelOrder" resultType="java.util.Map">
		select to_char(creat_time,'yyyy-mm-dd') month, count(*) num from t_order where order_status = '21' 
		<if test="managerId != null and managerId != ''">
			and opr_dept_id = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId} 
		</if>
		<if test="orderChannel != null and orderChannel != ''">
			and order_channel = #{orderChannel}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and creat_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and creat_time <= #{overTime}]]> 
		</if>
		group by to_char(creat_time,'yyyy-mm-dd') order by to_char(creat_time,'yyyy-mm-dd') asc
	</select>
	
	<!-- 待维护数量 -->
	<select id="getWaitFix" resultType="java.util.Map">
		select to_char(creat_time,'yyyy-mm-dd') month, count(*) num from t_order where order_status in('22', '23') 
		<if test="managerId != null and managerId != ''">
			and opr_dept_id = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId} 
		</if>
		<if test="orderChannel != null and orderChannel != ''">
			and order_channel = #{orderChannel}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and creat_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and creat_time <= #{overTime}]]> 
		</if>
		group by to_char(creat_time,'yyyy-mm-dd') order by to_char(creat_time,'yyyy-mm-dd') asc
	</select>
	
	<!-- 待回访数量 -->
	<select id="getWaitReview" resultType="java.util.Map">
		select to_char(creat_time,'yyyy-mm-dd') month, count(*) num from t_order where order_status = '24' 
		<if test="managerId != null and managerId != ''">
			and opr_dept_id = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId} 
		</if>
		<if test="orderChannel != null and orderChannel != ''">
			and order_channel = #{orderChannel}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and creat_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and creat_time <= #{overTime}]]> 
		</if>
		group by to_char(creat_time,'yyyy-mm-dd') order by to_char(creat_time,'yyyy-mm-dd') asc
	</select>
	
	<!-- 已完成工单数量 -->
	<select id="getAccessOrderNumByTime" resultType="java.util.Map">
		select to_char(creat_time,'yyyy-mm-dd') month, count(*) num from t_order where order_status in('25', '26') 
		<if test="managerId != null and managerId != ''">
			and opr_dept_id = (select dept_code from t_user where maxaccept = #{managerId}) 
		</if>
		<if test="userId != null and userId != ''">
			and opr_id = #{userId} 
		</if>
		<if test="orderChannel != null and orderChannel != ''">
			and order_channel = #{orderChannel}
		</if>
		<if test="creatTime != null and creatTime != ''">
			and creat_time >= #{creatTime} 
		</if>
		<if test="overTime != null and overTime != ''">
			<![CDATA[and creat_time <= #{overTime}]]> 
		</if>
		group by to_char(creat_time,'yyyy-mm-dd') order by to_char(creat_time,'yyyy-mm-dd') asc
	</select>
	
	<!-- 获取受理渠道列表 -->
	<select id="getChannelList" resultType="java.util.Map">
		select maxaccept, code_id, code_name from t_common_code where code_key = 'ORDER_CHANNEL'
	</select>
</mapper>  